/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET CSS */



/* CSS for APE */

html, body {
	/*background: url("../../img/tilebg.jpg") !important;*/
	background-repeat: repeat;
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.dropdown {
	position: relative;
	display: inline-block;
	width: 100%;
}

.im {
	float: right;
	height: 42px;
	position: relative;
	right: 5px;
	top: 3px;
}
.imh {
	height: 42px;
	position: absolute;
	right: 5px;
	top: 3px;
}
.ul {
	position: absolute;
	background: rgba(147, 112, 219, .2);
	float: left;
	margin: .2%;
	border-radius: 10px;
	top: 45px;
	left: 0px;
}

.heading {
	width: 99.8%;
	background: gray;
	color: white;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
}

.container {
	background: rgba(75, 0, 130, .2);
	right: 0px;
	top: 45px;
	margin: .2%;
	border-radius: 10px;
	position: absolute;
	overflow-y: auto;
}

.ul, .container, .bl, .br {
	padding-top: 18px;
}

.ur {
	display: table;
	width: 100%;
	position: relative;
}

.bl {
	background: rgba(75, 0, 130, .2);
	left: 0px;
	margin: .2%;
	border-radius: 10px;
	text-align: left;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	bottom: 0px;
}

.br {
	background: rgba(147, 112, 219, .2);
	margin: .2%;
	border-radius: 10px;
	overflow: auto;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#tab {
	table-layout: fixed;
	float: left;
	width: 98%;
	height: 95%;
	margin: 1%;
}

.row {
	border-radius: 10px;
	vertical-align: top;
}

.col {
	width: 33%;
	background-color: #F8F8FF;
	border: 2px;
	border-radius: 4px;
	font-size: 13px;
	padding: 5px;
}

.t {
	font-size: 15px;
	font-weight: bold;
	font-variant: small-caps;
	margin: 0px;
	display: inline;
}

.hours {
	float: right;
	margin: 0px
}

.dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: -webkit-linear-gradient(#E6E6FA, #A096CD);
	display: table;
	width: 100%;
}

.dropdown li {
	float: left;
	background: -webkit-linear-gradient(#E6E6FA, #A096CD);
	color: white;
	font-size: 20px;
	border: none;
	display: table-cell;
}

.dropdown li a, .dropbtn {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
}

li.dropdown {
	display: inline-block;
}

li a:hover, .dropdown:hover .dropbtn:hover {
	background: -webkit-linear-gradient(#A096CD, #E6E6FA);
}

.video{
	height: 50%;
	width: 100%;
	vertical-align: middle;
	display: block;
	position: relative;
	top: 23%;
}

.grape{
	height: 90%;
}

.wikipedia{
	height: 90%;
	width: 99.8%;
	border-radius: 10px;
	overflow: hidden;
}

input[type=text] {
	display: inline;
    width: 100%;
    padding: 2px 2px;
    margin: 0px 0;
    box-sizing: border-box;
}

#years{
	width: 20px;
}

#courseform{
	font-size: 14px;
}

#cred{
	width: 35px;
}

.coursesubmit{
	text-align: center;
}

#noty_topRight_layout_container > li {
    background-color: #800080 !important;
}

.csfth{
    border-bottom: 1px solid #d6d6d6;
}

#myTable{
	width: 100%;
}

#courselisttab tr:nth-child(even) {
    background: #f9f9f9 !important;
	text-shadow: none;
}

#courselisttab tr:nth-child(odd) {
    background: lightgray !important;
	text-shadow: none;
	border-bottom: 1px solid white;
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
   background: #500050 !important;
   color: white !important;
}

select{
	width: 100%;
	height: 30px;
}

.formcontainer{
	margin: 25px;

}

.filter-table .quick { 
	margin-left: 0.5em; 
	font-size: 0.8em; 
	text-decoration: none; 
}

.fitler-table .quick:hover { 
	text-decoration: underline; 
}

td.alt { 
	background-color: #ffc; 
	background-color: rgba(255, 255, 0, 0.2); 
}

.button {
	text-decoration: none;
	color: #3355aa;
	font-weight: 700;
	background-color: #bbddff;
	padding: 0 25px;
	display: inline-block;
	font-size: 1rem;
	height: 55px;
	line-height: 55px;
}

.button:hover {
	background-color: #81c0ff;
}


#ur {
	/*max-height: 550px;*/
	/*overflow-y: auto;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0.25% 0.25% 0 0.25%;
	box-sizing: border-box;
	position: relative;
	/*border-bottom: 7px solid #f9ffc4;*/
}

#ur .semester {
	width: calc(98.5% / 3);
	margin: 0.25%;
	background-color: #ddd;
	padding: 10px;
	box-sizing: border-box;
}

#ur .semester h2 {
	float: left;
	font-size: 13px;
	font-weight: 700;
}

#ur .semester .credits {
	float: right;
	font-size: 13px;
	color: #777;
}

#ur .semester .courses {
	min-width: 100%;
	min-height: 100%;
	box-sizing: border-box;
	padding: 5px 0 0 0;
	clear: both;
}

#ur .semester .courses .course {
	padding: 2px 0 0 10px;
	font-size: 15px;
	z-index: 3;
}

#ur .semester .courses .ui-sortable-helper .credits {
	display: none;
}

#ur .semester .courses .course:hover {
	cursor: pointer;
}

#toolbar {
	position: relative;
	width: 100%;
	margin: 0.25%;
	height: 55px;
}

#delete-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 99%;
	height: 55px;
	display: none;
	z-index: 1;
	margin-top: 0.5%;
	margin-left: 0.5%;
}

#delete {
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
    overflow: hidden;
}

#delete-text {
	display: flex;
	width: 100%;
	height: 100%;
	clear: both;
	align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: rgb(255, 0, 0);
	color: rgb(255, 255, 255);
}

#delete .course {
	visibility: visible; 
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #aa0000;
    z-index: 3 !important;
}

#delete .course .credits {
	display: none;
}

#open-notes {
	float: left;
}

#delete-year {
	float: right;
}

#add-year {
	float: right;
}