<header> 
   <h1>Welcome to the Academic Planning Tool</h1>
   <% if user_signed_in?%>
      <h3>Welcome, <%= current_user.login %></h3>
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
   <% else %>
      <%= link_to "Sign In", new_user_session_path, :method => :get %>
      <%= link_to "Sign up", new_user_registration_path, :method => :get %>
   <% end %>
</header>
